<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=192.168.1.165\SQL2014;Initial Catalog=POS_MASTER_DB_SRV;Persist Security Info=True;User ID=sa;Password=data" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>		
		<!--Astha IT AWS SQS security credentials-->
		<!--  https://sqs.ap-southeast-1.amazonaws.com/704919501971/apex_dev_ecomm_update  -->
		<!--  serviceURL + "/" + AWS_AccountNumber + "/" + QueueName  -->
		<add key="serviceURL" value="https://sqs.ap-southeast-1.amazonaws.com" />
		<add key="AWS_AccountNumber" value="704919501971" />
		<add key="queueName" value="apex_dev_ecomm_update" />
		
		<add key="accessKey" value="AKIA2IIDZ7SJ5S3IDGHN" />
		<add key="secretKey" value="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" />
		
		<add key="MaxMessages" value="10" />
		<add key="WaitTime" value="2" />		
	</appSettings>
</configuration>